html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

.heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 125px;
    padding: 25px;
    background-color: teal;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 105px;
    height: 100%;
    position: absolute;
}

.sidebar a {
    display: block;
    color: teal;
    padding: 13px;
    text-align: right;
}

.sidebar a:hover {
    background-color: teal;
    color: black;
}

.listnav {
    list-style-type: none;
    width: 95%;  
}

.content {
    margin-left: 200px;
    padding: 15px;
    height: 500px;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: absolute;
    }
    ul {
        display: flex;
    }
    li:first-child {
        border-right: 1px solid;
        border-color: lightgrey;
    }
    li:last-child {
        border-left: 1px solid;
        border-color: lightgrey;
    }
    .sidebar a {float: left;}
    .content {margin-left: 35px; padding-top: 50px;}
}

.image {
    float: left;
    width: 130px;
    height: 90px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.footering {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 50px;
    padding: 5px;
    background-color: teal;
    color: white;
}